@import "./styles/reset.scss";
@import "./styles/variables.scss";

body {
  font-family: $primary-font;
  font-size: 16px;
  width: 100%;
  height: 100vh;
  background-color: $primary-blue;
  @include flex-container;
}
